@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Нова Залізниця була розроблена спеціально для курсової роботи студента 3-го курса НТУУ "КПІ" Субцельного Олександра).</p>
