@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    вул. Академіка Янгеля<br />
    Київ, Україна, 03056<br />
    <abbr title="Phone">P:</abbr>
    066-834-8444
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">subtselnyi@gmail.com</a><br />
</address>